.main {
  margin-top: 50px;
}

.control, .match-log-box {
  min-height: 800px;
  padding-top: 15px;
}
.match-log-box {
  background-color: red;
}
.control {
  background-color: blue;
}

@media (min-width: 991px) {
  .control {
    width: 595px;
  }
  .match-log-box {
    width: auto;
    margin-left: 595px;
    position: absolute;
  }
}

/*display bar CSS settings*/

.display {
  height: 300px;
  background: url(../assets/basketball-court.png) no-repeat;
  background-size: cover;
}

.name > h3 {
  margin-top: 0;
  margin-bottom: 19px;
}

.score > h2, .counter > h2 {
  border: 2px solid red;
  color: #eee;
  width: 50%;
  margin-left: 25%;
  margin-top: 0px;
  margin-bottom: 0;
  background: #2f2d2d;
}

.counter > h2 {
  height: 45px;
  padding-top: 5px;
}

.score {
  margin-top: 20px;
}

.score > h2 {
  height: 45px;
  padding-top: 5px;
  width: 80%;
  margin-left: 10%;
}

.display-mid {
  margin-top: 10px;
}

#shot-clock {
  font-size: 70px;
  width: 50%;
  margin-left: 25%;
  border: 2px solid red;
  background: #2f2d2d;
  color: red;
  margin-top: 0px;
  margin-bottom: 0;
}

.display-bot {
  margin-top: 20px;
}

.timeout > h4 {
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid #2f2d2d;
  background: #2f2d2d;
  color: #eee;
  width: 70%;
  margin-left: 15%;
}
./*timeout1 {
  padding-left: 0;
  padding-right: 30px;
}

.timeout2 {
  padding-right: 0;
  padding-left: 30px;
}*/
.display-last {
  margin-top: 5px;
}
.team-foul > h4 {
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid #2f2d2d;
  background: #2f2d2d;
  color: #eee;
  width: 40%;
  margin-left: 30%;
}
@media (max-width: 615px) {
   .display-bot strong, .display-last strong {
    font-size: 12px;
   }
   .display-bot {
    margin-top: 10px;
   }
   .display .col-xs-3 {
    padding: 0 5px;
   }
   .display .col-xs-6, .display .col-xs-12, .display {
    padding: 0;
   }
   .display h2 {
    font-size: 25px;
   }
   #shot-clock {
    font-size: 60px;
   }
}

                /*control buttons settings*/
.con-btns {
  margin-top: 15px;
  background: #2f2d2d;
}
.con-btns h4 {
  color: #eee;
  margin: 0;
}
.con-btns, .scoring, .coach-left, .coach-right {
  padding: 3px;
}
/*.scoring .col-xs-2 {
  width: 16%;
}
.scoring .col-xs-4 {
  width: 32%;
}
.scoring .col-xs-6 {
  width: 49%;
}*/
@media (max-width: 473px) {
   .scoring .col-xs-6 {
    width: 45%;
  } 
}
.scoring-left, .coach-left {
  background: blue;
}
.scoring-right, .coach-right {
  background: red;
}
.scoring button {
  height: 40px;
}
.scoring .col-xs-6 {
  /*margin: 0 1.5%;*/
}

.time-control {
  padding: 5px;
}
.timer-header {
  color: #eee;
}

/*match log settings*/

.match-log {
  background: #2f2d2d;
  height: 770px;
  color: #eee;
  overflow-y: scroll;
}